<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98979249383-99aearg2706aj7dttee5i3v11stdp0ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98979249383-99aearg2706aj7dttee5i3v11stdp0ob</string>
	<key>API_KEY</key>
	<string>AIzaSyDQOHqe67JY1wPU2gS7nxQL6EomhxhfYZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>98979249383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amangoyal1727.journalApp</string>
	<key>PROJECT_ID</key>
	<string>journal-app-6bb2a</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-6bb2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98979249383:ios:71f10f5110a92e7b743642</string>
</dict>
</plist>